body {
    background-color:rgba(235, 236, 237, 1)
}
.login-body {
    display: flex; align-items: center; justify-content: center;height:80vh;
}
.login-form {
    display: flex; flex-direction: column; align-items: center; 
    overflow: hidden;
    justify-content: center;
    background-color: white; width: 300px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(209, 164, 252, 0.3);
}
.login-form input {
    outline: none;
    border-style: none;
}
.login-title {
    width: 100%; 
    background-color: #a48feb;
    text-align: center; padding-top:10px; margin-bottom: 10px;
    font-size: 20px; color: white; font-weight: 500;
}
.login-input {
    border-radius: 5px;
    background-color: #d9d9f333;
}
.submit {
    display: flex; align-items: center; justify-content: center;margin-top: 10px;
}
.submit .submit-btn {
    background-color: white; border:1px solid #7d60ea; border-radius: 4px; color: #7d60ea;
    text-align: center;
    height: 30px; line-height: 20px;
}
.submit .submit-btn:hover {
    background-color:#7d60ea; color: white;
}

.home-title {
    font-size: 80px; font-weight: 1000;
    color: #7d60ea; display: flex; align-items: center; height: 115px;
}
.title-body {
    border-left: 10px solid rgb(188, 144, 218);padding-left: 30px;
    display: flex; flex-direction: column; height: auto;
    border-radius: 10px;
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.home-des {
    float: right;
    margin-top: 20px;
    background-color: rgba(135, 104, 233, 1);
    color:white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    padding:10px 15px 5px;
}

.nav-body {
    background-color: white;
}

.message-title {
    border-left: 10px solid rgb(188, 144, 218);
    padding-left: 10px; padding-top: 5px;
    width: 100px;
    background-color: white;
    color:#7d60ea; font-size: 18px;
    border-radius: 5px;
}
.message-body {
    margin-top: 10px;
}
.submit-new {
    margin-top: 10px; display: flex; align-items: center;
}
.submit-new .submit-btn {
    background-color: white; border:1px solid #7d60ea; border-radius: 4px; color: #7d60ea;
    text-align: center;
    height: 30px; line-height: 20px;
}
.submit-new .submit-btn:hover {
    background-color:#7d60ea; color: white;
}
.submit-new a {
    margin-left: 10px;
}

.user-ava {
    margin-top: 10px;
    margin-bottom: 10px;
}
.user-name {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.operation {
    display: flex;
}
.operate {
    margin-right: 10px;
}
.operate button {
    display: block;
    background-color: white; border:1px solid #7d60ea; border-radius: 4px; color: #7d60ea;
    text-align: center;
    height: 30px; line-height: 20px;
}
.operate button:hover {
    background-color:#7d60ea; color: white;
}

.edit {
    margin-left: 15px;
}

.upload {
    margin-left: 15px;
    display: block;
    margin-top: 10px;
}

.upload-img {
    margin-left: 15px;
}

.message-content-body {
    background-color: white;
    border: 1px solid #7d60ea;
    border-radius: 8px;
    width: auto;
    display: flex;
    flex-direction: column;
    padding:10px;
    margin-bottom: 10px;
}
.message-user {
    font-size: 20px;
    font-weight: 600;
}

.message-content {
    background-color: #d9d9f3;
    padding: 10px;
    border-radius: 5px;
}

.message-title-big {
    border-left: 10px solid rgb(188, 144, 218);
    padding-left: 10px; padding-top: 5px;
    width: 100px;
    background-color: white;
    color:#7d60ea; font-size: 18px;
    border-radius: 5px;
    margin-bottom: 10px;
}
